<h1>Add Definition</h1>

<p>Add a definition here:</p>

<form action="/definitions" method="post">
  <label for='define'>Definition: </label>
  <input id='define' name='define' type="text">
  <button type="submit" class="btn btn-info">Submit</button>
</form>

<a href="/">Home</a>
