<h1>Definition</h1>

<h3>Here are the definition: </h3>
<ul>
  <% @definitions.each() do |definition| %>
    <li><a href="/definitions/<%= definition.id() %>"><%= definition.description() %></a></li>
  <% end %>
</ul>
