<h1>Epicodus Dictionary</h1>

<form action="/words" method="post">
  <input id='vocab' name='vocab' type="text">
  <button type="submit" class="btn btn-info">Submit</button>
</form>

<a href="/words">Word List</a>
