<h1>Add Word</h1>

<p>Add your word here:</p>

<form action="/words" method="post">
  <label for='vocab'>Word: </label>
  <input id='vocab' name='vocab' type="text">
  <button type="submit" class="btn btn-info">Submit</button>
</form>

<a href="/">Home</a>
